body {
  background: #ff9fff;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  text-align: center;
}

h1 {
  text-transform: uppercase;
  font-size: 40px;
}

p {
  font-style: italic;
}

canvas {
  background-color: white;
  border: 8px solid #240024;
  border-radius: 10px;
  box-shadow: 0px 10px 10px #24002417;
}

#black {
  border-style: none;
  margin-left: 20px;
  padding: 10px 15px;
  border-radius: 3px;
  background-color: rgba(20, 20, 20, 0.7);
  color: white;
  font-size: 15px;
}

#black:hover {
  background-color: rgba(20, 20, 20, 0.8);
  cursor: pointer;
  transition: transform, background-color, 1s ease;
}

.button {
  margin: auto;
  padding: 35px;
}
